ion-content
 {background: linear-gradient(to bottom, #dad299, #b0dab9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */}
h2{
  color: rgb(0, 0, 0);
  font-family: Georgia, serif;
  text-align: center;
}
h3{
  text-align: center;
}

p {
  font-family: system-ui;
  text-align: center;
  font-size: ;
  
}